In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
df = pd.read_csv('Comprehensive_Banking_Database.csv')
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 40 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        5000 non-null   int64
 1   First Name                         5000 non-null   object
 2   Last Name                          5000 non-null   object
 3   Age                                5000 non-null   int64
 4   Gender                             5000 non-null   object
 5   Address                            5000 non-null   object
 6   City                               5000 non-null   object
 7   Contact Number                     5000 non-null   int64
 8   Email                              5000 non-null   object
 9   Account Type                       5000 non-null   object
 10  Account Balance                    5000 non-null   float64
 11  Date Of Account Opening            5000 non-null   object
 12  Last Transaction Date              5000 non-null   object
 13  TransactionID                      5000 non-null   int64
 14  Transaction Date                   5000 non-null   object
 15  Transaction Type                   5000 non-null   object
 16  Transaction Amount                 5000 non-null   float64
 17  Account Balance After Transaction  5000 non-null   float64
 18  Branch ID                          5000 non-null   int64
 19  Loan ID                            5000 non-null   int64
 20  Loan Amount                        5000 non-null   float64
 21  Loan Type                          5000 non-null   object
 22  Interest Rate                      5000 non-null   float64
 23  Loan Term                          5000 non-null   int64
 24  Approval/Rejection Date            5000 non-null   object
 25  Loan Status                        5000 non-null   object
 26  CardID                             5000 non-null   int64
 27  Card Type                          5000 non-null   object
 28  Credit Limit                       5000 non-null   float64
 29  Credit Card Balance                5000 non-null   float64
 30  Minimum Payment Due                5000 non-null   float64
 31  Payment Due Date                   5000 non-null   object
 32  Last Credit Card Payment Date      5000 non-null   object
 33  Rewards Points                     5000 non-null   int64
 34  Feedback ID                        5000 non-null   int64
 35  Feedback Date                      5000 non-null   object
 36  Feedback Type                      5000 non-null   object
 37  Resolution Status                  5000 non-null   object
 38  Resolution Date                    5000 non-null   object
 39  Anomaly                            5000 non-null   int64
dtypes: float64(8), int64(11), object(21)
memory usage: 1.5+ MB
None
       Customer ID          Age  Contact Number  Account Balance  \
count  5000.000000  5000.000000    5.000000e+03      5000.000000
mean   2500.500000    43.469800    1.945880e+10      5060.570918
std    1443.520003    15.145672    1.443520e+03      2849.356481
min       1.000000    18.000000    1.945879e+10       107.200000
25%    1250.750000    30.000000    1.945880e+10      2582.777500
50%    2500.500000    43.000000    1.945880e+10      5075.500000
75%    3750.250000    57.000000    1.945880e+10      7509.760000
max    5000.000000    69.000000    1.945880e+10      9998.110000

       TransactionID  Transaction Amount  Account Balance After Transaction  \
count    5000.000000         5000.000000                        5000.000000
mean     2500.500000         2508.501144                        5037.418898
std      1443.520003         1450.194986                        4053.220017
min         1.000000           10.570000                       -4878.760000
25%      1250.750000         1241.150000                        2047.205000
50%      2500.500000         2494.025000                        5089.785000
75%      3750.250000         3796.222500                        8036.367500
max      5000.000000         4998.390000                       14911.380000

         Branch ID      Loan ID   Loan Amount  Interest Rate    Loan Term  \
count  5000.000000  5000.000000   5000.000000    5000.000000  5000.000000
mean     50.586800  2500.500000  25501.042806       5.505038    36.520800
std      28.499539  1443.520003  14039.732628       2.629752    16.924315
min       1.000000     1.000000   1006.370000       1.000000    12.000000
25%      26.000000  1250.750000  13315.305000       3.200000    24.000000
50%      50.000000  2500.500000  25909.705000       5.520000    36.000000
75%      75.000000  3750.250000  37441.570000       7.832500    48.000000
max      99.000000  5000.000000  49993.490000      10.000000    60.000000

            CardID  Credit Limit  Credit Card Balance  Minimum Payment Due  \
count  5000.000000   5000.000000           5000.00000          5000.000000
mean   2500.500000   5549.035830           2487.40084           124.370134
std    1443.520003   2581.718105           1446.80295            72.340102
min       1.000000   1007.000000              1.45000             0.070000
25%    1250.750000   3314.065000           1243.51750            62.180000
50%    2500.500000   5567.485000           2461.62000           123.080000
75%    3750.250000   7786.040000           3722.58000           186.125000
max    5000.000000   9997.780000           4997.11000           249.860000

       Rewards Points  Feedback ID      Anomaly
count     5000.000000  5000.000000  5000.000000
mean      4966.161800  2500.500000     0.880000
std       2901.410915  1443.520003     0.475021
min          1.000000     1.000000    -1.000000
25%       2475.250000  1250.750000     1.000000
50%       4950.500000  2500.500000     1.000000
75%       7483.250000  3750.250000     1.000000
max       9999.000000  5000.000000     1.000000

In [70]:
df

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,...,Minimum Payment Due,Payment Due Date,Last Credit Card Payment Date,Rewards Points,Feedback ID,Feedback Date,Feedback Type,Resolution Status,Resolution Date,Anomaly
0,1,Joshua,Hall,45,Male,Address_1,Fort Worth,19458794854,joshua.hall@kag.com,Current,...,226.22,11/26/2023,3/20/2023,8142,1,10/6/2023,Suggestion,Resolved,1/22/2023,1
1,2,Mark,Taylor,47,Female,Address_2,Louisville,19458794855,mark.taylor@kag.com,Current,...,42.84,11/5/2023,6/16/2023,4306,2,4/7/2023,Complaint,Resolved,8/27/2023,1
2,3,Joseph,Flores,25,Female,Address_3,Philadelphia,19458794856,joseph.flores@kag.com,Current,...,162.12,1/8/2023,3/20/2023,4842,3,9/7/2023,Praise,Pending,5/11/2023,1
3,4,Kevin,Lee,52,Other,Address_4,Oklahoma City,19458794857,kevin.lee@kag.com,Savings,...,216.46,9/8/2023,10/15/2023,9463,4,5/28/2023,Complaint,Resolved,7/5/2023,1
4,5,Linda,Johnson,68,Other,Address_5,Phoenix,19458794858,linda.johnson@kag.com,Savings,...,1.29,3/4/2023,7/27/2023,2209,5,2/12/2023,Complaint,Resolved,11/21/2023,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,Emily,Sanchez,21,Other,Address_4996,Mesa,19458799849,emily.sanchez@kag.com,Savings,...,100.86,7/19/2023,2/10/2023,7530,4996,4/12/2023,Complaint,Pending,1/23/2023,1
4996,4997,Melissa,Perez,27,Female,Address_4997,Los Angeles,19458799850,melissa.perez@kag.com,Savings,...,42.67,2/16/2023,12/24/2023,8796,4997,9/7/2023,Complaint,Pending,9/17/2023,1
4997,4998,Timothy,Walker,45,Female,Address_4998,Louisville,19458799851,timothy.walker@kag.com,Current,...,11.42,2/23/2023,9/6/2023,9966,4998,10/23/2023,Suggestion,Resolved,2/5/2023,1
4998,4999,Deborah,Nelson,58,Female,Address_4999,Detroit,19458799852,deborah.nelson@kag.com,Current,...,16.27,9/8/2023,1/12/2023,538,4999,5/20/2023,Complaint,Pending,3/3/2023,1
4999,5000,Daniel,Martinez,35,Male,Address_5000,El Paso,19458799853,daniel.martinez@kag.com,Current,...,153.90,5/30/2023,6/3/2023,1816,5000,9/6/2023,Suggestion,Resolved,5/23/2023,1

In [86]:
columns = list(df.columns)
columns.remove('Customer ID')
columns.remove('Address')
columns.remove('Date Of Account Opening')
columns.remove('Last Transaction Date')
columns.remove('Loan ID')
columns.remove('Loan Amount')
columns.remove('Loan Type')
columns.remove('Interest Rate')
columns.remove('Loan Term')
columns.remove('Approval/Rejection Date')
columns.remove('Loan Status')
columns.remove('Credit Limit')
columns.remove('Credit Card Balance')
columns.remove('Minimum Payment Due')
columns.remove('Payment Due Date')
columns.remove('Last Credit Card Payment Date')
columns.remove('Rewards Points')
columns.remove('Feedback ID')
columns.remove('Feedback Date')
columns.remove('Feedback Type')
columns.remove('Resolution Status')
columns.remove('Resolution Date')
columns.remove('Anomaly')

In [90]:
df = df[columns]

In [94]:
df['Full name'] = df['First Name'] + ' ' + df['Last Name']

C:\Users\Vedant\AppData\Local\Temp\ipykernel_20832\455487748.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Full name'] = df['First Name'] + ' ' + df['Last Name']

In [102]:
df.drop(['First Name', 'Last Name'], axis=1, inplace=True)

C:\Users\Vedant\AppData\Local\Temp\ipykernel_20832\937799816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['First Name', 'Last Name'], axis=1, inplace=True)

In [104]:
df

,Age,Gender,City,Contact Number,Email,Account Type,Account Balance,TransactionID,Transaction Date,Transaction Type,Transaction Amount,Account Balance After Transaction,Branch ID,CardID,Card Type,Full name
0,45,Male,Fort Worth,19458794854,joshua.hall@kag.com,Current,1313.38,1,12/7/2023,Withdrawal,1457.61,2770.99,43,1,AMEX,Joshua Hall
1,47,Female,Louisville,19458794855,mark.taylor@kag.com,Current,5988.46,2,4/27/2023,Deposit,1660.99,7649.45,63,2,MasterCard,Mark Taylor
2,25,Female,Philadelphia,19458794856,joseph.flores@kag.com,Current,8277.88,3,4/5/2023,Deposit,839.91,7437.97,82,3,AMEX,Joseph Flores
3,52,Other,Oklahoma City,19458794857,kevin.lee@kag.com,Savings,7487.21,4,7/28/2023,Withdrawal,4908.89,12396.10,41,4,MasterCard,Kevin Lee
4,68,Other,Phoenix,19458794858,linda.johnson@kag.com,Savings,6993.55,5,1/16/2023,Transfer,589.07,6404.48,9,5,Visa,Linda Johnson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,21,Other,Mesa,19458799849,emily.sanchez@kag.com,Savings,5564.12,4996,11/29/2023,Withdrawal,1612.91,7177.03,33,4996,AMEX,Emily Sanchez
4996,27,Female,Los Angeles,19458799850,melissa.perez@kag.com,Savings,2625.13,4997,7/7/2023,Deposit,2493.45,5118.58,17,4997,MasterCard,Melissa Perez
4997,45,Female,Louisville,19458799851,timothy.walker@kag.com,Current,2732.76,4998,1/25/2023,Withdrawal,418.38,2314.38,32,4998,MasterCard,Timothy Walker
4998,58,Female,Detroit,19458799852,deborah.nelson@kag.com,Current,3006.01,4999,9/27/2023,Deposit,3160.96,-154.95,76,4999,Visa,Deborah Nelson
4999,35,Male,El Paso,19458799853,daniel.martinez@kag.com,Current,7022.99,5000,8/28/2023,Withdrawal,281.35,6741.64,85,5000,AMEX,Daniel Martinez

In [112]:
df.columns

Index(['Age', 'Gender', 'City', 'Contact Number', 'Email', 'Account Type',
       'Account Balance', 'TransactionID', 'Transaction Date',
       'Transaction Type', 'Transaction Amount',
       'Account Balance After Transaction', 'Branch ID', 'CardID', 'Card Type',
       'Full name'],
      dtype='object')